/* Utility classes */

.h-screen {
  height: 100vh !important;
}

.w-screen {
  width: 100vw !important;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.hide {
  display: none !important;
}

/* Tailwind CSS equivalents */
.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.capitalize {
  text-transform: capitalize;
}
.required {
  color: red;
}
.overflow-x-hidden {
  overflow-x: hidden;
}

.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}

.breaker {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.center {
  text-align: center;
}

.m-10 {
  margin: 10px;
}

.icon {
  padding-right: 3px;
}
